In [30]:
import numpy as np
import pandas as pd
#import pandas_profiling as pp
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import GridSearchCV,KFold,RandomizedSearchCV,StratifiedKFold,train_test_split
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.linear_model import LogisticRegression,RidgeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import roc_auc_score

In [154]:
df_train = pd.read_csv("C:\\Users\\266251\\Downloads\\application_train.csv")

In [155]:
df_test =  pd.read_csv("C:\\Users\\266251\\Downloads\\application_test.csv")

In [7]:
df_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,257512.000000,257512.000000,257512.000000,2.575120e+05,2.575120e+05,257501.000000,2.572720e+05,257512.000000,257512.000000,257512.000000,...,257512.000000,257512.000000,257512.000000,257512.000000,222727.000000,222727.000000,222727.000000,222727.000000,222727.000000,222727.000000
mean,307143.115397,0.080769,0.416509,1.684155e+05,5.988950e+05,27108.806240,5.382673e+05,0.020882,-16039.898366,63930.692845,...,0.008058,0.000575,0.000505,0.000326,0.006268,0.006901,0.034747,0.266833,0.266348,1.903653
std,86047.050997,0.272481,0.721749,1.105872e+05,4.025061e+05,14480.289657,3.693680e+05,0.013845,4364.493540,141368.981432,...,0.089403,0.023967,0.022463,0.018058,0.083078,0.111287,0.206680,0.913544,0.825488,1.870100
min,157876.000000,0.000000,0.000000,2.610000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,232638.750000,0.000000,0.000000,1.125000e+05,2.700000e+05,16542.000000,2.385000e+05,0.010006,-19689.000000,-2756.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,307140.500000,0.000000,0.000000,1.476000e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15753.000000,-1212.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,381476.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12420.000000,-288.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.800009e+07,4.050000e+06,230161.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,22.000000

In [8]:
df_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,157876,0,Cash loans,F,N,Y,0,67500.0,343800.0,16155.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,157878,0,Cash loans,M,Y,N,2,247500.0,945000.0,40167.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
2,157879,0,Revolving loans,M,N,Y,2,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
3,157880,0,Cash loans,F,N,Y,0,112500.0,295168.5,16011.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
4,157881,0,Cash loans,F,N,Y,0,63000.0,298512.0,17266.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257512 entries, 0 to 257511
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(64), int64(42), object(16)
memory usage: 239.7+ MB

In [11]:
df_train.shape

(257512, 122)

In [20]:
df_test.shape

(49999, 122)

In [156]:
df_test['TARGET']=np.NAN

In [157]:
df = pd.concat([df_train,df_test])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307511 entries, 0 to 49998
Columns: 122 entries, AMT_ANNUITY to YEARS_BUILD_MODE
dtypes: float64(66), int64(40), object(16)
memory usage: 288.6+ MB

In [109]:
df.isnull().sum()

AMT_ANNUITY                         12
AMT_CREDIT                           0
AMT_GOODS_PRICE                    278
AMT_INCOME_TOTAL                     0
AMT_REQ_CREDIT_BUREAU_DAY        41519
AMT_REQ_CREDIT_BUREAU_HOUR       41519
AMT_REQ_CREDIT_BUREAU_MON        41519
AMT_REQ_CREDIT_BUREAU_QRT        41519
AMT_REQ_CREDIT_BUREAU_WEEK       41519
AMT_REQ_CREDIT_BUREAU_YEAR       41519
APARTMENTS_AVG                  156061
APARTMENTS_MEDI                 156061
APARTMENTS_MODE                 156061
BASEMENTAREA_AVG                179943
BASEMENTAREA_MEDI               179943
BASEMENTAREA_MODE               179943
CNT_CHILDREN                         0
CNT_FAM_MEMBERS                      2
CODE_GENDER                          0
COMMONAREA_AVG                  214865
COMMONAREA_MEDI                 214865
COMMONAREA_MODE                 214865
DAYS_BIRTH                           0
DAYS_EMPLOYED                        0
DAYS_ID_PUBLISH                      0
DAYS_LAST_PHONE_CHANGE               1
DAYS_REGISTRATION                    0
DEF_30_CNT_SOCIAL_CIRCLE          1021
DEF_60_CNT_SOCIAL_CIRCLE          1021
ELEVATORS_AVG                   163891
                                 ...
NAME_TYPE_SUITE                   1292
NONLIVINGAPARTMENTS_AVG         213514
NONLIVINGAPARTMENTS_MEDI        213514
NONLIVINGAPARTMENTS_MODE        213514
NONLIVINGAREA_AVG               169682
NONLIVINGAREA_MEDI              169682
NONLIVINGAREA_MODE              169682
OBS_30_CNT_SOCIAL_CIRCLE          1021
OBS_60_CNT_SOCIAL_CIRCLE          1021
OCCUPATION_TYPE                  96391
ORGANIZATION_TYPE                    0
OWN_CAR_AGE                     202929
REGION_POPULATION_RELATIVE           0
REGION_RATING_CLIENT                 0
REGION_RATING_CLIENT_W_CITY          0
REG_CITY_NOT_LIVE_CITY               0
REG_CITY_NOT_WORK_CITY               0
REG_REGION_NOT_LIVE_REGION           0
REG_REGION_NOT_WORK_REGION           0
SK_ID_CURR                           0
TARGET                           49999
TOTALAREA_MODE                  148431
WALLSMATERIAL_MODE              156341
WEEKDAY_APPR_PROCESS_START           0
YEARS_BEGINEXPLUATATION_AVG     150007
YEARS_BEGINEXPLUATATION_MEDI    150007
YEARS_BEGINEXPLUATATION_MODE    150007
YEARS_BUILD_AVG                 204488
YEARS_BUILD_MEDI                204488
YEARS_BUILD_MODE                204488
Length: 122, dtype: int64

In [124]:
df1.CODE_GENDER.isnull().sum()

4

In [125]:
df1.CODE_GENDER.unique()

array(['F', 'M', nan], dtype=object)

In [126]:
catagorical_columns.CODE_GENDER.unique()

array(['F', 'M', nan], dtype=object)

In [153]:
#Catagorical nunique count
catagorical_columns.apply(lambda x: x.nunique())

CODE_GENDER                    5
EMERGENCYSTATE_MODE            2
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
NAME_CONTRACT_TYPE             2
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
NAME_INCOME_TYPE               8
NAME_TYPE_SUITE                7
OCCUPATION_TYPE               18
ORGANIZATION_TYPE             58
WALLSMATERIAL_MODE             7
WEEKDAY_APPR_PROCESS_START     7
dtype: int64

In [135]:
catagorical_columns.isnull().sum()

CODE_GENDER                        0
EMERGENCYSTATE_MODE           145755
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
FONDKAPREMONT_MODE            210295
HOUSETYPE_MODE                154297
NAME_CONTRACT_TYPE                 0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
NAME_INCOME_TYPE                   0
NAME_TYPE_SUITE                 1292
OCCUPATION_TYPE                96391
ORGANIZATION_TYPE                  0
WALLSMATERIAL_MODE            156341
WEEKDAY_APPR_PROCESS_START         0
dtype: int64

In [111]:
df1=df

In [150]:
# Replacing the 'XNA' value with NAN
df1['CODE_GENDER']=df1.CODE_GENDER.replace('XNA',np.nan)

In [151]:
#Replacing the nan value with fillna of MODE operation
df1['CODE_GENDER']=df1.groupby(['NAME_EDUCATION_TYPE'])['CODE_GENDER'].transform(lambda x: x.fillna(x.mode()[0]))

In [128]:
df1.groupby(['NAME_CONTRACT_TYPE'])['NAME_EDUCATION_TYPE'].transform(lambda x: x.fillna(x.mode()[0]))

0        Secondary / secondary special
1        Secondary / secondary special
2        Secondary / secondary special
3                     Higher education
4        Secondary / secondary special
5        Secondary / secondary special
6                     Higher education
7                    Incomplete higher
8        Secondary / secondary special
9                    Incomplete higher
10       Secondary / secondary special
11       Secondary / secondary special
12       Secondary / secondary special
13       Secondary / secondary special
14                   Incomplete higher
15       Secondary / secondary special
16                    Higher education
17       Secondary / secondary special
18       Secondary / secondary special
19       Secondary / secondary special
20       Secondary / secondary special
21                    Higher education
22       Secondary / secondary special
23       Secondary / secondary special
24       Secondary / secondary special
25                    Higher education
26       Secondary / secondary special
27       Secondary / secondary special
28       Secondary / secondary special
29       Secondary / secondary special
                     ...
49969    Secondary / secondary special
49970    Secondary / secondary special
49971    Secondary / secondary special
49972    Secondary / secondary special
49973                 Higher education
49974    Secondary / secondary special
49975    Secondary / secondary special
49976                 Higher education
49977    Secondary / secondary special
49978    Secondary / secondary special
49979    Secondary / secondary special
49980                 Higher education
49981    Secondary / secondary special
49982    Secondary / secondary special
49983    Secondary / secondary special
49984                 Higher education
49985                 Higher education
49986    Secondary / secondary special
49987    Secondary / secondary special
49988    Secondary / secondary special
49989                Incomplete higher
49990                Incomplete higher
49991    Secondary / secondary special
49992    Secondary / secondary special
49993                 Higher education
49994                 Higher education
49995    Secondary / secondary special
49996    Secondary / secondary special
49997    Secondary / secondary special
49998                 Higher education
Name: NAME_EDUCATION_TYPE, Length: 307511, dtype: object

In [83]:
df1.EMERGENCYSTATE_MODE=df1.groupby(['EMERGENCYSTATE_MODE'])['NAME_EDUCATION_TYPE'].transform(lambda x: x.fillna(x.mode()[0]))

In [119]:
df1.groupby(['EMERGENCYSTATE_MODE'])['NAME_EDUCATION_TYPE'].transform(lambda x: x.fillna(x.mode()[0]))

ValueError: Length mismatch: Expected axis has 161756 elements, new values have 307511 elements

In [ ]:
def feature_scaling(df1):
    df1 -= df1.min()
    df1 /= df1.max()
    return df1

In [152]:
catagorical_columns=df1.select_dtypes(include='object')

In [144]:
numerical_columns=df1.select_dtypes(exclude='object')

In [146]:
catagorical_columns.head()

,CODE_GENDER,EMERGENCYSTATE_MODE,FLAG_OWN_CAR,FLAG_OWN_REALTY,FONDKAPREMONT_MODE,HOUSETYPE_MODE,NAME_CONTRACT_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,NAME_INCOME_TYPE,NAME_TYPE_SUITE,OCCUPATION_TYPE,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START
0,Secondary / secondary special,NaN,N,Y,NaN,NaN,Cash loans,Secondary / secondary special,Married,House / apartment,State servant,Unaccompanied,Medicine staff,Medicine,NaN,TUESDAY
1,Secondary / secondary special,NaN,Y,N,NaN,NaN,Cash loans,Secondary / secondary special,Married,House / apartment,Pensioner,Unaccompanied,NaN,XNA,NaN,WEDNESDAY
2,Secondary / secondary special,No,N,Y,NaN,NaN,Revolving loans,Secondary / secondary special,Married,House / apartment,Working,Unaccompanied,Sales staff,Business Entity Type 3,"Stone, brick",SATURDAY
3,Higher education,No,N,Y,org spec account,block of flats,Cash loans,Higher education,Married,House / apartment,Working,Unaccompanied,Laborers,Business Entity Type 2,Mixed,SUNDAY
4,Secondary / secondary special,NaN,N,Y,NaN,NaN,Cash loans,Secondary / secondary special,Civil marriage,Municipal apartment,Pensioner,Unaccompanied,NaN,XNA,NaN,THURSDAY

In [75]:
catagorical_columns.count()

Done

EMERGENCYSTATE_MODE           161756
FLAG_OWN_CAR                  307511
FLAG_OWN_REALTY               307511
FONDKAPREMONT_MODE             97216
HOUSETYPE_MODE                153214
NAME_EDUCATION_TYPE           307511
NAME_FAMILY_STATUS            307511
NAME_HOUSING_TYPE             307511
NAME_INCOME_TYPE              307511
NAME_TYPE_SUITE               306219
OCCUPATION_TYPE               211120
ORGANIZATION_TYPE             307511
WALLSMATERIAL_MODE            151170
WEEKDAY_APPR_PROCESS_START    307511

CODE_GENDER                   307511
EMERGENCYSTATE_MODE           161756
FLAG_OWN_CAR                  307511
FLAG_OWN_REALTY               307511
FONDKAPREMONT_MODE             97216
HOUSETYPE_MODE                153214
NAME_CONTRACT_TYPE            307511
NAME_EDUCATION_TYPE           307511
NAME_FAMILY_STATUS            307511
NAME_HOUSING_TYPE             307511
NAME_INCOME_TYPE              307511
NAME_TYPE_SUITE               306219
OCCUPATION_TYPE               211120
ORGANIZATION_TYPE             307511
WALLSMATERIAL_MODE            151170
WEEKDAY_APPR_PROCESS_START    307511
dtype: int64

In [ ]:
encode=pd.get_dummies(catagorical_columns.drop(columns=["Item_Identifier","source"]))

In [ ]:
df1=pd.concat([df1,pd.get_dummies(df1.NAME_CONTRACT_TYPE,df1.)],axis=1)

In [35]:
#from sklearn.feature_selection import info_gain
from sklearn.feature_selection import selectkbest,chi2
from sklearn.ensamble import IsolationForest

ImportError: cannot import name 'selectkbest'

In [38]:
from sklearn.feature_selection import SelectKBest, chi2